.footer{
	
	padding: 80px;
}

.footer__inner{
	display: flex;
	justify-content: center;
}

.footer__link{
	display: block;
	width: 30px;
	height: 30px;
	padding: 0px 15px;
	padding-bottom: 30px;
	
}

.footer__copyrites{
	text-align: center;
}