<footer>
	<div class="footer">
		<div class="footer__inner">
		<a class="footer__link" href="#">
			<img src="assets/images/footer/fb.svg">
		</a>
		<a class="footer__link" href="#">
			<img src="assets/images/footer/insta.svg">
		</a>
		<a class="footer__link" href="#">
			<img src="assets/images/footer/Group.svg">
		</a>
		<a class="footer__link" href="#">
			<img src="assets/images/footer/Linkedin.svg">
		</a>
		</div>
		<div class="footer__copyrites">
			Copyright ©2020 All rights reserved 
		</div>
	</div>
	
</footer>
